.fuel-container {
    width: 100%;
}

.fuel-container h1 {
    text-align: center;
}

.fuel-container .form-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fuel-container form {
    width: 650px;
    display: flex;
    flex-direction: column;
}
