.Home-Container {
    width: 100%;
    height: calc(97vh - 95px);
    margin-top: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Welcome h1 {
    font-size: 45px;
}
@media (max-width: 992px) {
    .nav-container .nav-link {
        padding: 6px;
    }
    .Welcome h1 {
        font-size: 35px;
    }
}
@media (max-width: 768px) {
    .Welcome h1 {
        font-size: 25px;
    }

}